body{
  background-color: #e4f5eb;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='199' viewBox='0 0 100 199'%3E%3Cg fill='%238edaad' fill-opacity='0.1'%3E%3Cpath d='M0 199V0h1v1.99L100 199h-1.12L1 4.22V199H0zM100 2h-.12l-1-2H100v2z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
  display:flex;
  flex-direction: column;
  align-items: center;
}

.calc-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  font-size: 45px;
}

.content-container {
  padding: 30px;
  border:2px dashed black;
  width: 800px;
  border-radius: 15px;
  margin-top:100px;
  display:flex;
  justify-content: center;
  align-items: center;
  gap:40px;
}

.homepage-btn{
  font-size: 20px;
}

