.header-block {
  width:1550px;
  padding: 10px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.05);
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  font-weight: bold;
}

.button-container{
    display:flex;
    gap:10px;
}

.homepage-link{
  font-size: 25px;
  padding-left:1000px;
}
