.input-group {
  display: flex;
  flex-direction: column;
}

.input-control {
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.input-group input {
  padding-left: 30px; /* Adjust the padding as needed */
  background-image: url("../assets/dollar-sign-solid.svg"); /* Replace with the path to your FontAwesome icon */
  background-repeat: no-repeat;
  background-position: 5px center; /* Adjust the position of the icon */
  background-size: 7px; /* Adjust the size of the icon */
  height:20px;
}

.button-submit {
  width: 335px;
  height: 35px;
  border: 2px solid black;
  font-size: 15px;
  padding: 0;
}

.button-submit:hover{
    background-color: #96ddae;
    border-color: #56a870;
    transition: 200ms;
}

label {
  color: #81bf96;
  font-weight: 500;
  font-size:10px;
}
